@import url('../Variables.css');

.footer {
  background:none;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-top: 1px solid; 
    border-color: var(--text-muted); 
}

.footer-container {
  background:none;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-links {
  background:none;
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.footer-link {
  color:var(--text-primary);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #00bcd4;
}

.footer-credit {
  background:none;
  opacity: 0.1 !important;
}
