/*body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #02232b;
}*/


@import url('../Variables.css');
* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

div
{
        background: var(--background);
}

