@import url("../Variables.css");
.header {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background: none;
    border-bottom: 1px solid; /* Added proper border */
    border-color: var(--text-muted); /* Use your theme color */
    opacity: 0.8; /* Optional: subtle border */
}
.logo-flash svg {   
    fill: pink;
    background: none;
}
.toggle-container
{
    background: none;
}
