@import url("../Variables.css");
.header {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background: none;
    border-color: var(--text-muted); 
    opacity: 0.8;
}
.logo-flash svg {   
    fill: pink;
    background: none;
}
.toggle-container
{
    background: none;
}
