@import url("../Variables.css");

.header {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: none !important;
    border-color: var(--text-muted); 
    opacity: 0.8;
}

.header-center{
    background:none;
}
.header-left{
    background:none;
}
.header-logo{
    background:none !important;
}

.logo-flash {
    background: none !important;
    border: none !important;
    outline: none !important;
}

.page-title{
    background:none;
}

.logo-flash svg {   
    fill: pink;
}

.toggle-container {
    background:none;
}

.page-title{
    color:var(--text-primary);
}

