.wrapper {
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical alignment if needed */
    width: 100%;

}

.btn{
    text-align: center;
    background: linear-gradient(160deg, #0575E6, #00F260);
    padding: 30px;
    border-radius: 25px;
    font-size: 1.5rem;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: linear-gradient(180deg, #00F260, #0575E6);
    box-shadow: 10px 10px 10px #081304;
}

.btn-container {
    display: flex;            /* align children in a row */
    gap: 20px;                /* space between buttons */
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */
    flex-wrap: wrap;          /* stack on very small screens if needed */
}

.btn-link {
    background-color: #042632;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;      /* removes underline */
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: flex;               /* center text properly */
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, box-shadow 0.2s;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.btn-link:hover {
    background-color: #065a7d;
    box-shadow: 0 6px 10px rgba(0,0,0,0.25);
}


.btn-link:hover {
    background-color: #174a55;

}

.btn-link:active {
    background-color: #5c779a;

}

p{
    color: #333;
    text-align: center;

}

h2{
    color: #444;
    text-align: center;
}
h1{
    color: #333;
    text-align: center;
}

h5{
    color: #555;
    text-align: center;
}
.home{
    padding: 10px 10px;
    align-items: center;
    /*border: 1px solid #e0e0e0;*/
    justify-content: center; /* centers horizontally */
      /* optional spacing */
   /* height: 90vh;*/
    font-size: 2rem;
    background-color: #042632;

}

.info{
    margin-bottom: 20px;
    text-align: justify-all;
    font-family: "Agency FB", cursive;
}

.title{
    font-family: "Comic Sans MS", cursive;
    font-size: 2.7rem;
    color: #00F260;
}