
.btn-link {
    background-color: #042632;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;      /* removes underline*/ 
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.2s;
}

.btn-link:hover {
    background-color: #174a55;

}

.btn-link:active {
    background-color: #5c779a;

}


.home{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border: 1px solid #e0e0e0;
    justify-content: center; /* centers horizontally */
      /* optional spacing */
    height: 90vh;
    font-size: 2rem;
}