.container {
    text-align: center;
    padding: 2rem;
    height: 90vh;
    background: none;
}

.add-flashcard {
    padding: 0.6rem 1rem;
    border: none;
    background-color: #4f46e5;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: 0.2s ease-in;
}

.add-flashcard:hover {
    background-color: #3730a3;
}

.card-list-container {
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
}

.flashcard-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 240px;
    perspective: 1000px;
    cursor: pointer;
    margin-bottom: 1.4rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
    background: linear-gradient(180deg, #174a55, #000);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

.flip-card-front {
    background-color: #f9fafb;
    color: #333;
    font-weight: 600;
    transform: rotateX(0deg);
}

.flip-card-front:hover {
    box-shadow: 16px 16px 16px black;
}

.flip-card-back {
    background-color: #4f46e5;
    color: white;
    transform: rotateX(180deg);
}

.flip-card-back:hover {
    box-shadow: 16px 16px 16px rgb(3, 16, 19);
}

.buttons-con {
    margin-top: 8px;
}

.buttons-con button {
    margin: 0 4px;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}
.save-btn {
    background-color: #045d56;
    color: white;
}

.cancel-btn {
    background-color: #b91c1c;
    color: white;
}

.edit {

    background-color: #1c5732;
    color: white;
}

.delete {
    background-color: #7d0f95;
    color: white;
}

.form-container {
    width: 400px;
    perspective: 1000px;
    cursor: pointer;
    background: linear-gradient(180deg, #bb63ff, #5b58eb);
    border-radius: 25px;
    height : auto;

}

.form-container textarea {
    margin: 8px;
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #6A2C70;
}

.btn button{
    margin: 6px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background-color: #4f46e5;
    color: white;
    cursor: pointer;
    background: none;
}

.add-card{
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical alignment if needed */
    width: 100%;
    background: none;
}

.btns button{
    margin: 6px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

h3{
    margin-bottom: 1rem;
    margin-top: 1rem;
}