.register-page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
  background: linear-gradient(120deg, #0f172a, #1e293b, #334155);
  color: white;
  position: relative;
  font-family: "Poppins", sans-serif;
}


.register-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.floating-card {
  position: absolute;
  width: 100px;
  height: 70px;
  background: var(--card-color);
  border-radius: 12px;
  opacity: 0.2;
  transform-style: preserve-3d;
  animation: float 30s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-40px) rotate(180deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}


.register-card {
  z-index: 2;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.2);
  text-align: center;
  width: 28rem;
  transition: 0.3s ease;
}

.register-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 35px rgba(0, 255, 255, 0.4);
}

.register-title {
  font-size: 2rem;
  font-weight: 800;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.register-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register-card input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 0.95rem;
  transition: 0.2s ease;
}

.register-card input:focus {
  background-color: #e0f2fe;
  color: #0f172a;
}

.register-card button {
  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(135deg, #38bdf8, #2563eb);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.register-card button:hover {
  background: linear-gradient(135deg, #60a5fa, #3b82f6);
  transform: translateY(-3px);
}


.login-redirect {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #e2e8f0;
}

.login-link {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
}
