.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: 80vh;
    font-family: Arial, sans-serif;
}

.register h2 {
    margin-bottom: 20px;
    color: #333;
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.register input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register button {
    padding: 10px;
    background-color: #022047;
    border: 5px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.register button:hover {
    background-color: #010f1e;
    color: wheat;
    border: 5px dotted white;
}
