.review-container {
    display: flex;
    /*justify-content: center;*/
}

.Rev-card {
    width: 500px;
    height: 300px;
    perspective: 1000px;
}

.Rev-card:hover {
    box-shadow: 30px 30px 30px 1px rgba(3, 16, 19, 0.5);
}

.inner {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

/* Flip bottom-up on submit */
.Rev-card.flipped .inner {
    transform: rotateX(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

.front {
    background: linear-gradient(180deg, #174a55, #000);
    color: #fff;
    transform: rotateX(0deg);
    border: 5px solid rgb(0, 12, 14);
}

.front:hover {
    box-shadow: 16px 16px 16px black;
}

.back {
    background: linear-gradient(180deg, #174a55, #000 );
    color: #fff;
    transform: rotateX(180deg);
}

.back:hover {
    box-shadow: 16px 16px 16px black;
}
/* Textarea + Buttons */
.answer-input {
    width: 100%;
    height: 60px;
    margin-top: 15px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
}

.submit-btn,
.back-btn {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    color: #6A2C70;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover,
.back-btn:hover {
    background-color: #eee;
}

/* Back text */
.answer-label {
    font-weight: bold;
    margin-bottom: 8px;
}

.answer-text {
    font-size: 20px;
    margin-bottom: 15px;
}
