@import url('../Variables.css');


.nav-menu {
    background: var(--side-bar);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 99999 !important;  
}


.nav-text {
    background: none !important;
}


.nav-menu-items {
    width: 100%;
    padding: 0;
}
